#! /bin/sh

[ `id -u` != 0 ] && exit 1

cd /etc/skel

if [ "$1" = "-r" ]; then
    find -type f | cpio -p --make-directories /root 2> /dev/null
    exit 0
fi

for iuser in `find /home -maxdepth 1 -mindepth 1 -type d -printf "%f\n"`; do
    if id -u $iuser > /dev/null 2>&1; then
	find -type f | cpio -p --make-directories -R `id -u $iuser`:`id -g $iuser` /home/$iuser 2> /dev/null
    fi
done
